DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
TERMII_API_KEY=
TERMII_SENDER_ID=
XPRESS_WALLET_BASE_URL=https://payment.xpress-wallet.com/api/v1
XPRESS_WALLET_EMAIL=
XPRESS_WALLET_PASSWORD=
VTPASS_BASE_URL=https://sandbox.vtpass.com/api
VTPASS_API_KEY=
VTPASS_SECRET_KEY=
VTPASS_PUBLIC_KEY=
